@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin transition-3 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin transition-2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@mixin transition-1 {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@mixin notrans {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

@mixin transition-btn {
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 17px 34px -20px rgba(214, 214, 214, 1);
  -moz-box-shadow: 10px 17px 34px -20px rgba(214, 214, 214, 1);
  box-shadow: 10px 17px 34px -20px rgba(214, 214, 214, 1);
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin instagramAnimation() {
  animation: opacAnim .5s ease-in-out;
}

@keyframes opacAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin animationHover($url) {
  background: linear-gradient(rgba(176, 199, 0, 0.5) 100%, rgba(176, 199, 0, 0.5) 100%), url($url);
  background-repeat: no-repeat;
  background-size: cover;
}
